.DS_Store
node_modules/
modules/**/lib
modules/**/coverage
modules/**/node_modules
npm-debug.log
lerna-debug.log
coverage
.nyc_output

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
