
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$link-color: #3f3f3f;
$link-hover-color: #dd3333;
$muted-title-color: #555;
$subtle-background-color: #FFFFFF;
$separator-color: #ccc;
$subtle-separator-color: #f3f3f3;
$borders: 1px solid;
$standard-space: 10px;

.tools-app {
  font-family: 'Open Sans', sans-serif;
}

.page {
  display: block;
  float: left;
  margin: 20px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  text-decoration: none;
  }
}

h1 {
  color: $muted-title-color;
}
h6 {
  font-family: Arial;
  font-weight: bolder;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: .15s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.nav {
  float: left;
  height: 100vh;
}

.nav-groups {
  margin-top: 30px;
  padding-left: $standard-space;
}

.section,
.home-link {
  margin-top: $standard-space;
  border-bottom: $borders $subtle-separator-color;
}
#home-logo-link {
  max-width: 60px;
  height: 40px;
  margin-bottom: $standard-space;
}

.b-card {
  margin: $standard-space $standard-space $standard-space 0;
  float: left;
}

.tcstring-input {

  margin: $standard-space 0 $standard-space 0;
}

*:focus {
    outline: none;
}
