[@iabtcf/cmpapi - API Documentation](../README.md) > [ValidationResult](../interfaces/validationresult.md)

# Interface: ValidationResult

The result of a validation

## Hierarchy

**ValidationResult**

## Index

### Properties

* [isValid](validationresult.md#isvalid)
* [validationMessages](validationresult.md#validationmessages)

---

## Properties

<a id="isvalid"></a>

###  isValid

**● isValid**: *`boolean`*

*Defined in [validation/ValidationResult.ts:6](https://github.com/chrispaterson/iabtcf/blob/aa3fc72/modules/cmpapi/src/validation/ValidationResult.ts#L6)*

___
<a id="validationmessages"></a>

###  validationMessages

**● validationMessages**: *`string`[]*

*Defined in [validation/ValidationResult.ts:8](https://github.com/chrispaterson/iabtcf/blob/aa3fc72/modules/cmpapi/src/validation/ValidationResult.ts#L8)*

___

