
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$link-color: #3f3f3f;
$link-hover-color: #dd3333;
$muted-title-color: #555;
$subtle-background-color: #FFFFFF;
$separator-color: #ccc;
$subtle-separator-color: #f3f3f3;
$borders: 1px solid;
$standard-space: 10px;

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  text-decoration: none;
  }
}
.row {
  margin: $standard-space 0px;
}

h6 {
  font-family: Arial;
  font-weight: bolder;
}

.tcstring-input {
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: .15s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

#home-logo-link {
  max-width: 60px;
  height: 40px;
}
input:focus {
    outline:none;
}
